@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.d-content {
    display: contents;
}

#dummy {
    margin-top: 5rem;
    height: 6.25rem;
    display: block;
    width: 100%;

    @include media("<=medium-screen") {
        #{$relaxed__mode__template__selector} {
            margin-top: 15rem;
        }
    }

    @include media("<=small-screen") {
        #{$relaxed__mode__template__selector} {
            margin-top: 17rem;
        }
    }
}