@import "assets/scss/master";

.scheduled__branch__option {
    border-radius: 14px;
    background-color: $light__theme_color;
    cursor: pointer;
    outline: none;
    font-size: 14.5px;
    letter-spacing: 0.05px;
    padding: 7px 12px;
    transition: all 0.3s;

    #{$template__selector} {
        font-size: 20px;
        line-height: 24px;
        padding: 14px;
        text-align: center;
        border-radius: 100px;
    }

    #{$theme__selector} {
        color: $dark__mode__text__theme__color;
        background: $dark__mode__theme__grey__color;
        border: 0.125rem solid $dark__mode__theme__grey__color;
    }

    &.active {
        border: 1px solid $border_highlight_color;
        color: $text__default_color;

        #{$theme__selector} {
            color: $dark__mode__text__theme__color;
            border: 0.125rem solid $dark__mode__theme__grey__color;
        }
    }

    &.inactive {
        border: 1px dashed $border_highlight_color;
        color: $option__fade_out;
        pointer-events: none;

        #{$theme__selector} {
            border: 0.125rem solid $dark__mode__theme__grey__color;
        }
    }

    &:hover {
        opacity: 0.5;
    }

    &:disabled {
        color: $text__default_color;
    }

    &.__fade_out {
        color: $option__fade_out;
        pointer-events: none;
    }

    &.selected {
        color: $text__default_color;
        border: 0.125rem solid $primary__theme_color !important;

        #{$theme__selector} {
            color: $dark__mode__text__theme__color;
            background: $dark__mode__theme__grey__color;
        }
    }

    .option__pause {
        display: flex;
        justify-content: center;
        margin-top: 5px;
        color: $primary__theme_color;
        font-weight: 600;
        font-size: 14px;
        line-height: 12px;
        gap: 5px;
    }
}