@import "assets/scss/master";

.suggested__convos {
    padding-left: 1rem;
    margin-bottom: 1.25rem;

    p {
        color: $light__gray__theme_color;
        font-size: 0.875rem;
    }
    
    .suggestion__list {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}