.suggested__convos {
    padding-left: 16px;
    margin-bottom: 20px;

    p {
        color: #696d8c;
        font-size: 14px;
    }
    .suggestion__list {
        display: flex;
        align-items: center;
        gap: 8px;

        .suggested__convo {
            height: 40px;
            width: fit-content;
            padding: 0 14px;
            display: flex;
            align-items: center;
            justify-content: center;

            border: 1px solid $primary__theme_color;
            border-radius: 20px;
            span {
                color: #060213;
                font-size: 14px;
            }
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

.message__group {
    display: flex;
    align-items: flex-end;
    gap: 16px;
    margin-bottom: 20px;
    &.sent {
        justify-content: flex-end;
    }
    &--content {
        width: 100%;
        display: flex;
        flex-direction: column;
        .sent & {
            align-items: flex-end;
        }
        .message__content {
            width: fit-content;
            max-width: 50%;
            font-size: 15px;
            letter-spacing: 0.05px;
            margin-bottom: 10px;

            .message {
                padding: 12px 16px;
                padding-bottom: 10px;
            }

            @include media("<=small-screen") {
                font-size: 16px;
                max-width: 80%;
            }

            &.received {
                color: #fff;
                background: $primary__theme_color;
                border-radius: 12px 12px 12px 0px;
            }
            &.sent {
                color: #696d8c;
                background: #fafafc;
                border-radius: 12px 12px 0px 12px;
                text-align: left;
            }
        }
        .options__group {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;

            .branch__option {
                border-radius: 14px;
                background-color: $light__theme_color;
                border: 1px solid $border_highlight_color;
                cursor: pointer;
                color: $text__default_color;
                outline: none;
                font-size: 14.5px;
                letter-spacing: 0.05px;
                padding: 7px 12px;
                transition: all 0.3s;
                &:hover {
                    opacity: 0.5;
                }

                &:disabled {
                    color: $text__default_color;
                }

                &.__fade_out {
                    color: $option__fade_out;
                    pointer-events: none;
                }
                &.active {
                    border-color: $primary__theme_color;
                }
            }
        }
        .read-time {
            font-weight: 400;
            font-size: 11px;
            line-height: 12px;
            color: #a3a3c2;
            margin-top: 8px;
        }
    }
}

ol.message-thread {
    padding: 0;
    width: 100%;
    margin: 0;
    li {
        list-style: none;
    }
}
