@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.customer-verification {
    height: 85vh;

    @include media(">medium-screen") {
        #{$relaxed__mode__template__selector} {
            background-color: $dark__mode__theme__grey__color;
            border-radius: 20px;
            // height: 37.5rem;
            // margin-top: 24px;
        }

        #{$white__mode__theme__selector} {
            background-color: $light__theme_color;
            border: 1px solid $white__mode__border__color;
        }
    }

    @include media("<=medium-screen") {
        // #{$relaxed__mode__template__selector} {
        //     background: $dark__mode__theme__grey__color;
        //     border-radius: 20px 20px 0 0;
        //     border-radius: 20px;
        //     height: 37.5rem;
        //     margin: 0 20px 0 20px;

        // }

        #{$relaxed__mode__template__selector} {
            background: transparent;
            height: 37.5rem;
        }

        #{$white__mode__theme__selector} {
            background-color: $light__theme_color;
            border: 1px solid $white__mode__border__color;
        }
    }

    .customer-save__action {
        @include media("<=medium-screen") {
            margin-top: 25vh;
        }
    }

    .customer-verify__icon {
        text-align: right;
        margin-top: 42px;
        margin-right: 139px;
        margin-bottom: 60px;

        @include media(">medium-screen") {
            #{$relaxed__mode__template__selector} {
                padding-top: 20px;
                display: flex;
                width: fit-content;
                margin: 0 20px 0 auto;
            }
        }

        .verify-icon {
            cursor: pointer;
        }

        @include media("<=medium-screen") {
            margin-top: 4rem;
            text-align: right;
            padding: 21px;
            margin-right: 0px;

            #{$relaxed__mode__template__selector} {
                margin-top: 5rem;
            }
        }
    }
    .customer-verify__form {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 350px;
        margin-left: auto;
        margin-right: auto;

        @include media(">medium-screen") {
            #{$relaxed__mode__template__selector} {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 350px;
                margin-left: auto;
                margin-right: auto;
                height: 100%;
            }
        }
        @include media("<=medium-screen") {
            width: 100%;
            padding: 12px;
        }
        .pincode-input-container {
            padding: 0.625rem 0;
            // margin: 1.25rem 0;
            white-space: nowrap;
            justify-content: space-between !important;
            display: flex;
            @include media("<=medium-screen") {
                text-align: center;
                padding: 0;
                justify-content: space-between !important;
                display: flex;
            }
            .pincode-input-text {
                border-radius: 0.625rem;
                font-weight: 600;
                margin-left: 0;
                // justify-content: space-evenly !important;
                width: 89px !important;
                height: 89px !important;
                @include media("<=medium-screen") {
                    width: 60px !important;
                    height: 60px !important;
                    &:not(:last-child) {
                        margin-right: 0px !important;
                    }
                }
            }
        }
    }
}
