@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.customer__tickets--container {
        margin: 0 auto;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;
        flex-wrap: nowrap;
        width: 70% !important;
        overflow: hidden;
        overflow-x: auto;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        flex-direction: row;
        @include media("<=large-screen") {
            width: 50% !important;
        }
}

.customer__tickets--container .mCSB_container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;

    #{$relaxed__mode__template__selector} {
        gap: 12px;
    }
}