@import "assets/scss/master";

.dark__desktop {
    #{$relaxed__mode__template__selector} {
       background: $dark__mode__theme__background__color;
    }
}

.chat__container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 0.063rem solid $border__theme_color;
    border-width: 0 0.063rem 0 0.063rem;
    overflow: hidden;

    #{$relaxed__mode__template__selector} {
        border: none !important;
    }

    #{$dark__mode__theme__selector} {
        border: 0.063rem solid $dark__mode__theme__grey__color;
    }

    .empty__chat--interface,
    .chat__interface {
        flex: 1 0 auto;
        position: relative;
    }

    .chat__input__container {
        bottom: 0;
        position: fixed;
        width: 100%;

        &.chat__input__high__index {
            #{$relaxed__mode__template__selector} {
                position: relative;
                z-index: 4;
            }
        }
    }
}

.empty__chat--interface {
    background: url(https://res.cloudinary.com/metacare/image/upload/v1654002124/Slice_1_ouxo0y.svg);
    height: 100%;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    #{$dark__mode__theme__selector} {
        background: none;
    }
}

.empty__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;

    #{$relaxed__mode__template__selector} {
        width: 100%;
    }

    .preparing__tickets {
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        margin: 24px 0 0;
        color: $light__theme_color;
    }
}