@import "../master";
@import "../_include-media-lib/include-media";

.react-select__control {
    border: 0 !important;
    &--is-focused {
        border: 0 !important;
    }
}

#ticketGroup {
    display: contents;
}

.scroll {
    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.1)
    }
}

.star-svg {
    width: 21px;
    height: 21px;
    margin-right: 20px;
    margin-top: 10px;
}