@import "../master";
@import "../_include-media-lib/include-media";

.test--heading {
    color: $primary__theme_color;
}

.empty__chat {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 100%;

    @include media("<=small-screen") {
        // empty__chat
        padding: 1rem;
    }

    &.with-margin {
        margin-top: 6rem;
    }
    p {
        font-family: $primary_font_family;
        font-size: 16px;
        color: $muted__theme_color_2;
        margin-top: 1rem;
        margin-bottom: 0;
        white-space: pre-wrap;
    }
}

.d-content {
    display: contents;
}

.powered__by {
    display: flex;
    justify-content: center;
    padding: 3px 0;
    width: 90%;
    margin: auto;
    align-items: center;
    background-color: white;

    // & > span {
    //     font-size: 14px;
    //     line-height: 22px;
    //     color: $muted__theme_color_2;
    //     font-family: $primary_font_family--medium;
    //     }
    //     svg {
    //         width: 80px;
    //         path{
    //             fill: #696D8C;
    //         }
    //     }
}

.customer__tickets {
    &--container {
        margin: 0 auto;
        // margin-left: auto;
        // margin-right: 1rem;
        padding: 0;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        height: 100%;
        overflow: hidden;
        flex-wrap: nowrap;
        width: 50% !important;
        overflow: hidden;
        // background: $light__theme_color;
    }
}
.empty__chat--interface {
    background: url(https://res.cloudinary.com/metacare/image/upload/v1654002124/Slice_1_ouxo0y.svg);
    // width: calc(100% - $sidebarWidth);
    height: 100%;
    // padding-top: $headerHeight;
    // position: fixed;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#ticketsHeader {
    position: sticky;
    top: 78px;
    width: 100%;
    background-color: $light__theme_color;
    z-index: 1;
    @include media("<=small-screen") {
        top: 56px;
        position: fixed;
    }
    // margin-left: 2.563rem;
    // margin-top: 4rem;
    // height: 100%;
}

// .customer__tickets--container {
//     .ticket-col {
//         .customer__ticket {
//             border-left: 1px solid #ECEBF5;
//         }
//     }
// }

.customer__tickets--container {
    overflow-x: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.customer__tickets--container .mCSB_container {
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
}

.customer__tickets--container .customer__ticket {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
}

.customer__ticket {
    // padding: 0 40px;
    padding-top: 16px;
    padding-bottom: 12px;
    padding-left: 3rem;
    padding-right: 6rem;
    border-left: 1px solid #ecebf5;
    width: 300px;
    cursor: pointer;
    // height: 56px;
    position: relative;

    &:last-child {
        border-right: 1px solid #ecebf5;
    }
    &::before {
        content: "";
        position: absolute;
        display: block;
        left: 0;
        bottom: 0px;
        width: 0%;
        height: 0.063rem;
        background: $primary__theme_color;
        transition: all 1s;
    }
    &.active {
        // color: $primary__theme_color !important;
        // font-family: $primary_font_family--medium;
        &::before {
            width: 100%;
        }
        .close__ticket {
            display: block !important;
        }
    }
    .close__ticket {
        position: absolute;
        top: 10px;
        right: 20px;
        display: none !important;
        :hover {
            opacity: 0.6;
            // display: block !important;
        }
    }

    // &:hover {
    //     .close__ticket {
    //         display: block !important;
    //     }
    // }

    .agent__name {
        font-size: 16px;
        // font-family: $primary_font_family--lighter;
        // font-weight: bold;
        margin-left: 18px;
        color: #060213;
        margin-bottom: 5px;
        text-transform: capitalize;
    }
    .agent__pic--small {
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }
}

.since__when {
    color: #696d8c;
    font-size: 14px;
}

.ticket__status {
    width: fit-content;
    white-space: nowrap;
    // padding: 5px 10px;
    // background: #F5F5F7;
    border-radius: 6px;
    color: #060213;
    font-size: 13px;
    height: 26px;
    display: flex;
    font-family: $primary_font_family--lighter;
    align-items: center;
    // padding: 0 8px;
    @include media("<=small-screen") {
        height: 16px;
        color: #696d8c;
        font-weight: bold;
    }
    span {
        line-height: 10px;
        letter-spacing: 0.15px;
    }
    .status__circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #25bb87;
        margin-right: 10px;
        margin-bottom: -2px;
        @include media("<=small-screen") {
            margin-right: 5px;
        }
    }
}

.live__chat--staus {
    position: fixed;
    top: 26%;
    left: 50%;
    // top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    font-size: 14px;
    @include media("<=small-screen") {
        top: 23%;
        z-index: 0;
    }
}
.react-select__control {
    border: 0 !important;
    &--is-focused {
        border: 0 !important;
    }
}

.full__page_loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ecebf5;
}

.connected {
    width: fit-content;
    padding: 4px 10px;
    border: 1px solid $primary__theme_color;
    font-size: 13px;
    border-radius: 8px;
    background: #FAFAFC;
}

.info__box {
    height: 30px;
    border: 1px solid #ecebf5;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    .ticket__status span {
        color: #696d8c;
        font-family: $primary_font_family;
        font-size: 14px;
    }
    &.straight {
        height: 36px;
        margin: 0 0.5rem;
        @include media("<=small-screen") {
            margin: 0;
        }
        // padding: 0;
        // svg {
        //     transform: rotate(90deg);
        // }
    }
}

#inputGroup {
    position: fixed;
    bottom: 0;
    -webkit-transform: translateZ(0);
}

.error__view {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    p {
        font-size: 14px;
        text-align: center;
        color: #696d8c;
        margin-bottom: 0;
        .retry__trigger {
            margin-left: 10px;
            cursor: pointer;
            font-weight: bolder;
            &:hover {
                opacity: 0.8;
            }
        }
    }
}

#ticketGroup {
    display: contents;
}

.tickets__action--list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    margin-left: auto;
    // justify-content: ;
}

.empty__group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}

#authTickets {
    &.show-mobile-menu {
        display: block !important;
        position: fixed;
        height: calc(100% - 58px);
        background: #fff;
        bottom: 0;
        width: 100%;
        left: 0;
        .customer__tickets--container,
        .mCustomScrollBox,
        .customer__ticket {
            width: 100% !important;
        }
        .mCustomScrollBox {
            overflow-y: auto;
        }
        .customer__tickets--container{
            height: 60%;
            margin: 0;
            margin-bottom: 2rem;
            .customer__ticket {
                // padding-left: 1.5rem;
                padding: 18px 33px;
                flex-shrink: 0;
                display: flex;
                flex-direction: column-reverse;
                border: 0;
                .agent__name {
                    font-size: 20px;
                    font-family: $primary_font_family--medium;
                    margin-left: 0;
                    // margin-bottom: 2px;
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #ecebf5;
                }
            }
        }
        .customer__tickets--container .mCSB_container {
            // display: flex;
            /* flex-wrap: nowrap; */
            flex-direction: column;
        }
    }
}

.scroll {
    // overflow: scroll;

    &::-webkit-scrollbar {
        border-radius: 10px;
        width: 3px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,0.1)
    }
}

.show-only-on-mobile {
    display: none;
    @include media("<=small-screen") {
        display: block;
    }
}

.show-only-on-desktop {
    display: block;
    @include media("<=small-screen") {
        display: none;
    }
}

