@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.upload {
    margin-bottom: 0.938rem;
    span {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        display: flex;
        align-items: center;

        #{$dark__mode__theme__selector} {
            color: $dark__mode__text__theme__color;
        }

        #{$white__mode__theme__selector} {
           color: $dark__mode__theme__grey__color;
        }
    }
    &--icons {
        display: flex;
        align-items: center;
        gap: 0.92rem;
        &__label {
            display: flex;
            margin-top: 20px;
            margin-bottom: 10px;
            gap: 19px;
            cursor: pointer;
        }
        svg {
            cursor: pointer;

            path {
                #{$white__mode__theme__selector} {
                   fill: $dark__mode__theme__grey__color;
                }
            }

            @include media("<=medium-screen") {
                height: 0.917rem;
                width: 0.917rem;
            }
        }
    }
}