@import "../_master.scss";

.dropdown-menu {
  border: 1px solid $border_highlight_color;
  margin-top: 1rem;
  .dropdown-item{
    cursor: pointer;
    &.active, &:active{
      background-color: #ececef;
    }
  }
  .dropdown--item--group {
    display: flex;
    align-items: center;
    gap: 1rem;
    svg {
      margin-bottom: 3px;

      #{$theme__selector} {
        path {
          stroke: $dark__mode__text__theme__color 
        }
      }
    }
    span {
      font-size: 16px;
      color: $muted__theme_color_2;

      #{$theme__selector} {
          color:$dark__mode__text__theme__color
      }
    }
  }
}
