@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.live__chat--status {
    position: fixed;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
    font-size: 0.875rem;
    @include media("<=small-screen") {
        top: 23%;
        z-index: 0;
    }
}

.error__status {
    padding: 0.5rem 1rem;
    padding-right: 1.25rem;
    background-color: #fff5f5;
    border: 0.063rem solid #ffccc7 !important;
    border-radius: 0.5rem;
    border-radius: 0.5rem;
    color: #ff000096;
    cursor: pointer;

    #{$relaxed__mode__template__selector} {
        padding: 4px 10px;
        display: flex;
        align-items: center;
        gap: 8px;
        border-radius: 10px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: -0.2px;
    }
    
    #{$dark__mode__theme__selector} {
        border: 1px solid #F77150;
        color: #F77150;
        background: $dark__mode__theme__background__color;
    }
}

.connected {
    width: fit-content;
    padding: 0.25rem 0.625rem;
    border: 0.063rem solid $primary__theme_color;
    font-size: 0.813rem;
    border-radius: 0.5rem;
    background: $scroll__bar__track_color;
}
