@import "assets/scss/master";
@import "assets/scss/animate/animate.scss";

.full__page_loader {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $border__theme_color;
}

#metaInfinite {
    font-size: 8.5vw;
    font-weight: bolder;
    text-align: center;
    background-size: contain;
    width: fit-content;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 0;
    height: fit-content;
    margin-top: -20px;
    animation: shine-animation 3s infinite ease-in-out;
    -webkit-animation: shine-animation 3s infinite ease-in-out;
}