@import "../_master.scss";
@import "../mixins/mixins.scss";
@import "../_include-media-lib/include-media";

.otp__group {
    padding: 0 16px;
}

.home {
  font-family: $primary_font_family;

  .page {
    width: 100%;
    .aside {

      .empty-conversation {
        margin-top: 60%;
      }

      .medium {
        font-size: 16px;
        line-height: 24px;
        color: $muted__theme_color_2;
      }

      .conversation-content {
        .conversations {
          overflow-y: auto;
          height: calc(100vh - 400px);

          .conversation {
            .current-border {
              border-radius: 0 10px 10px 0;
              width: 3px;
            }
          }
        }
      }
    }

    .form-area {
      min-height: 100vh;
      .bold {
        font-weight: 600;
        font-size: 32px;
        line-height: 142%;
        color: $black__theme_color;
      }

      .light-medium {
        // font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        color: $muted__theme_color_2;
      }
      .info__section {
        svg {
          margin-right: 10px;
          margin-bottom: 4px;

          @include media("<=small-screen"){
            margin-top: -20px;
          }
        }
        p {
          font-size: 14px;
          line-height: 22px;
          color: $black__theme_color;
          margin: 0;
        }
      }
      

    
    //   @include media(">=large-screen") {
    //     width: 40% !important;
    //  }
    }
  }
}
