@import "assets/scss/master";

.intro__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 36px;
    opacity: 0.6;

    #{$dark__mode__theme__selector} {
        color: #E0E0E0;
    }
}

.intro__subtitle {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;

    #{$dark__mode__theme__selector} {
        color: #D5D7D8;
    }
}