.confirm__action {
    text-align: center;
    padding: 24px 0;
    width: 300px;
    p {
        font-size: 16px;
        letter-spacing: 0.15px;
        color: #060213;
        white-space: break-spaces;
        line-height: 1.7rem;
        width: 80%;
        margin: auto;
        margin-bottom: 10px;
    }
}