@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.ticket__status {
    width: fit-content;
    white-space: nowrap;
    border-radius: 6px;
    color: #060213;
    font-size: 14px;
    height: 26px;
    display: flex;
    font-family: $primary_font_family--lighter;
    align-items: center;
    @include media("<=small-screen") {
        height: 16px;
        color: #696d8c;
        font-weight: bold;
    }
    span {
        line-height: 10px;
        letter-spacing: 0.15px;
    }
    .status__circle {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background: #25bb87;
        margin-right: 10px;
        margin-bottom: -2px;
        @include media("<=small-screen") {
            margin-right: 5px;
        }
    }
}