@import "assets/scss/master";

.suggested__convo {
    height: 2.5rem;
    width: fit-content;
    padding: 0 0.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.063rem solid $primary__theme_color;
    border-radius: 1.25rem;

    span {
        color: $text__default_color;
        font-size: 0.875rem;
    }
    
    &:hover {
        opacity: 0.6;
    }
}