@import "assets/scss/master";

.suggested__convo {
    height: 40px;
    width: fit-content;
    padding: 0 14px;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid $primary__theme_color;
    border-radius: 20px;
    span {
        color: #060213;
        font-size: 14px;
    }
    &:hover {
        opacity: 0.6;
    }
}