@import "assets/scss/master";

.issues__suggestions {  
    padding-top: 40px;

    #{$dark__mode__theme__selector} {
        border-top: 1px solid #838589;
    }

    &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
      
        #{$dark__mode__theme__selector} {
            color: #E0E0E0;
        }
    }

    &__list {
        padding: 34px 0;
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
}