@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";


.chat__input--container {
    padding: 6px 16px;
    border-top: 1px solid #ECEBF5;
    border-bottom: 1px solid #ECEBF5;
    border-right: 1px solid #ECEBF5;
    // border-radius: 10px;
    overflow: hidden;
    @include media("<=small-screen") {
        margin-right: 0px;
        border-right: none;
    }
    .chat__input--group {
        // margin: 1rem;
        display: flex;
        align-items: end;
        justify-content: space-between;
        &--inputs {
            display: flex;
            align-items: end;
            width: 100%;
        }
        textarea,
        input {
            border: 0 !important;
            border-radius: 0 !important;
            resize: none;
        }
        .select__box {
            margin-top: -2rem;
            margin-left: 1rem;
            @include media("<=small-screen") {
                margin-top: -1rem;
                margin-left: 0.5rem;
            }
        }
        .send__button {
            font-size: 14px;
            color: #A3A3C2;
            background: #F5F5F7;
            border: 0;
            border-radius: 8px;
            padding: 17px 24px !important;
            height: 58px;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-left: auto;
            @include media("<=small-screen") {
                padding: 0px !important;
                height: 32px;
                width: 32px;
                border-radius: 50%;
                margin-bottom: 8px;
                span {
                    display: none;
                }
            }
            svg {
                margin-right: 1rem;
                @include media("<=small-screen") {
                    width: 60%;
                    margin: 0;
                }
                path {
                    fill: #92929D;
                }
            }
            &.active {
                background: $primary__theme_color;
                color: #FFFFFF;
                svg path {
                    fill: #FFFFFF;
                }
            }
        }
    }
}

.file__error {
    font-size: 0.875rem;
    line-height: 1rem;
    color: #f25a68;
}

#chatInput {
    position: sticky;
    bottom: 0;
    background-color: $light__theme_color;
    margin-right: 6px;
    .form-control {
        background: transparent;
        &::placeholder {
            color:#A3A3C2;
        }
    }
    @include media("<=small-screen") {
        // padding: 0 10px;
        margin-right: 0;
    }
}

.disallowed__section {
    #chatInput {
        background: #f8f8fa;
        margin-right: 6px;
    }
}