@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.chat__input--container {
    padding: 0.375rem 1rem;
    border-top: 0.063rem solid $border__theme_color;
    border-bottom: 0.063rem solid $border__theme_color;
    overflow: hidden;

    #{$relaxed__mode__template__selector} {
        padding: 0 1rem;
        border-radius: 100px;
        border: none;
    }

    #{$dark__mode__theme__selector} {
        background: $dark__mode__theme__grey__color;
        border: none;
    }

    #{$white__mode__theme__selector} {
        background: $light__theme_color;
    }

    @include media("<=medium-screen") {
        margin-right: 0px;
        border-right: none;
    }

    .chat__input--group {
        display: flex;
        align-items: flex-end;
        justify-content: center;
        // justify-content: space-between;
        &--inputs {
            display: flex;
            align-items: flex-end;
            width: 100%;
        }
        textarea,
        input {
            border: 0 !important;
            border-radius: 0 !important;
            resize: none;
            color: $dark__mode__text__theme__color;

            #{$white__mode__theme__selector} {
                color: $muted__theme_color_2;
            }

            &:focus {
                color: $dark__mode__text__theme__color;

                #{$white__mode__theme__selector} {
                    color: $muted__theme_color_2;
                }
            }
        }
        .select__box {
            margin-top: -2rem;
            margin-left: 1rem;
            @include media("<=medium-screen") {
                margin-top: -1rem;
                margin-left: 0.5rem;
            }
        }
        .send__button {
            font-size: 0.875rem;
            color: $option__fade_out;
            background: $inactive__button__theme_color;
            border: 0;
            border-radius: 0.5rem;
            padding: 1.063rem 1.5rem !important;
            height: 3.625rem;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-left: auto;

            #{$relaxed__mode__template__selector} {
                padding: 0px !important;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                margin-bottom: 0.7rem;
                span {
                    display: none;
                }
            }

            @include media("<=medium-screen") {
                padding: 0px !important;
                height: 2rem;
                width: 2rem;
                border-radius: 50%;
                margin-bottom: 0.5rem;
                span {
                    display: none;
                }

                #{$relaxed__mode__template__selector} {
                    margin-bottom: 0.61rem;
                }
            }

            @include media("<=small-screen") {
                #{$relaxed__mode__template__selector} {
                    margin-bottom: 0.5rem;
                }
            }

            svg {
                margin-right: 1rem;

                #{$relaxed__mode__template__selector} {
                    width: 60%;
                    margin: 0;
                }

                @include media("<=medium-screen") {
                    width: 60%;
                    margin: 0;
                }
                path {
                    fill: #92929d;
                }
            }
            &.active {
                background: $primary__theme_color;
                color: $light__theme_color;
                svg path {
                    fill: $light__theme_color;
                }
            }
        }
    }
}

.chat__input__file__button {
    padding: 14px 8px !important;
    width: 100% !important;
    border-radius: 100px !important;
    margin-top: 1rem;
    margin-bottom: 26px;
    height: 52px !important;
}

.file__error {
    font-size: 0.875rem;
    line-height: 1rem;
    color: $file__error__theme_color;
}

#chatInput {
    position: sticky;
    bottom: 0;
    background-color: $light__theme_color;
    margin-right: 0.375rem;

    #{$dark__mode__theme__selector} {
        background: $dark__mode__theme__dark__color;
    }

    #{$white__mode__theme__selector} {
        background: $white__mode__background;
    }

    .form-control {
        background: transparent;
        &::placeholder {
            color: $option__fade_out;
        }
    }

    @include media("<=medium-screen") {
        margin-right: 0 !important;
    }
}

.disallowed__section {
    #chatInput {
        background: $gray__out__theme_color;
        margin-right: 0.375rem;

        #{$dark__mode__theme__selector} {
            background: $dark__mode__theme__dark__color;
        }

        #{$white__mode__theme__selector} {
            background: $white__mode__background;
        }
    }
}

#inputGroup {
    position: fixed;
    bottom: 0;
    -webkit-transform: translateZ(0);

    #{$dark__mode__theme__selector} {
        background: $dark__mode__theme__background__color;
    }

    #{$relaxed__mode__template__selector} {
        padding: 20px 10px 0;
        background: $dark__mode__theme__dark__color;
    }

    #{$white__mode__theme__selector} {
        background: $white__mode__background;
    }

    @include media(">medium-screen") {
        #{$relaxed__mode__template__selector} {
            background: $dark__mode__theme__dark__color !important;
            border-radius: 0px 0px 20px 20px;
        }

        #{$white__mode__theme__selector} {
            background: $white__mode__background !important;
        }
    }
}
