@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.message__group {
    display: flex;
    align-items: flex-end;
    gap: 1rem;
    margin-bottom: 1.25rem;
    &.sent {
        justify-content: flex-end;
    }
    &--content {
        width: 100%;
        display: flex;
        flex-direction: column;
        .sent & {
            align-items: flex-end;
        }
        .message__content {
            width: fit-content;
            max-width: 50%;
            font-size: 0.938rem;
            letter-spacing: 0.003rem;
            margin-bottom: 0.625rem;

            .message {
                padding: 0.75rem 1rem 0.625rem;
            }

            @include media("<=medium-screen") {
                font-size: 1rem;
                max-width: 80%;
            }

            &.received {
                color: $light__theme_color;
                background: $primary__theme_color;
                border-radius: 0.75rem 0.75rem 0.75rem 0;
            }

            &.info__action {
                color: $text__default_color;
                background: $light__theme_color;
                border: 0.063rem solid $primary__theme_color;
                border-radius: 0.75rem 0.75rem 0.75rem 0;
                .message {
                    padding-top: 0.5rem;
                }
                .action__header {
                    display: flex;
                    align-items: center;
                    padding: 0.75rem 1rem 0;
                    gap: 0.625rem;
                    svg {
                        margin-top: -0.188rem;
                        path {
                            fill: $primary__theme_color;
                        }
                    }
                    h6 {
                        font-family: $primary_font_family--medium;
                        font-size: 0.938rem;
                        color: $text__default_color;
                        margin: 0;
                    }
                }
            }

            &.add__email {
                color: $text__default_color;
                background: $light__theme_color;
                // border: 0.063rem solid $primary__theme_color;
                border-radius: 12px;
                padding: 6px 12px;
                width: fit-content;
                cursor: pointer;
            }

            &.sent {
                color: $light__gray__theme_color;
                background: $scroll__bar__track_color;
                border-radius: 0.75rem 0.75rem 0 0.75rem;
                text-align: left;
            }

            &.grayed__out {
                color: $option__fade_out;
            }
        }
    }
}
