@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.form-area {
    min-height: 100vh;
}

.signin {
    .signin-header {
        font-weight: 600;
        font-size: 2rem;
        line-height: 142%;
        color: $black__theme_color;
    }
    .signin-sub__text {
        font-size: 1.125rem;
        font-size: 1.125rem;
        line-height: 1.625rem;
        color: $muted__theme_color_2;
    }
}

.otp__group {
    padding: 0 1rem;
}