@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.form-area {
    min-height: 100vh;
}

.signin {
    .signin-header {
        font-weight: 600;
        font-size: 2rem;
        line-height: 142%;
        color: $black__theme_color;

        #{$template__selector} {
            font-weight: 600;
            font-size: 32px;
            line-height: 40px;
        }

        #{$theme__selector} {  
            color: $light__theme_color;
        }
    }

    .signin-sub__text {
        font-size: 1.125rem;
        font-size: 1.125rem;
        line-height: 1.625rem;
        color: $muted__theme_color_2;

        #{$template__selector} {
            font-size: 1rem;
            line-height: 24px;
        }

        #{$theme__selector}{ 
            color: $dark__mode__text__theme__color; 
        }
    }
}

.otp__group {
    padding: 0 1rem;
}