@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.otp__form {
    .pincode-input-container {
        padding: 0.625rem 0;
        // margin: 1.25rem 0;
        white-space: nowrap;
        @include media("<=small-screen") {
            text-align: center;
            padding: 0;
        }

        .pincode-input-text {
            border-radius: 0.625rem;
            font-weight: 600;
            margin-left: 0;
            &:focus {
                border: 1px solid $primary__theme_color !important;
            }
            &:not(:last-child) {
                margin-right: 1rem !important;
            }
            @include media("<=small-screen") {
                width: 40px !important;
                height: 40px !important;
                &:not(:last-child) {
                    margin-right: 10px !important;
                }
            }
        }
    }
}