@import "assets/scss/master";
@import "assets/scss/_include-media-lib/include-media";

.save-chat__button {
    display: flex !important;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 35px !important;
    background: $primary__theme_color !important;
    border-radius: 6px !important;
    color: $light__theme_color !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    line-height: 18px;
    letter-spacing: -0.2px;
    padding: 5px 10px !important;
    border: none !important;

    @include media(">medium-screen") {
        #{$relaxed__mode__template__selector} {
            height: 35px !important;
        }
    }

    @include media("<=medium-screen") {
        margin-left: auto;
        margin-right: 10px;
        border-radius: 6px !important;
        height: 28px !important;
    }
}

.save-chat__icon {
    margin-top: -3px;
}
